
.centerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "logo heading"
        "logo description"
        "logo icons"
        "logo card";
}
