
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";


* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 3, 19);
    color: azure;
    font-family: 'Poppins', sans-serif;
}