.logoWrapper {
    grid-area: logo;
    perspective: 1000px;
}

.logo {
    width: 400px;
    height: 400px;
    border-radius: 100px;
    border: 5px solid rgba(0, 0, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: transform 2s ease, filter 1s ease;
}

.logo:hover {
    transform: rotateY(-360deg);
    filter: drop-shadow(0 0 18px rgba(0, 38, 255, 0.36));
}
