.carousel {
  width: 100%;
  max-width: 1200px;
  margin: 50px;
  overflow-x: hidden;
  border: 2px solid transparent;
  gap: 1em;
  padding-left: 5px;
}

.carouselGroup {
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.carouselButton {
  position: absolute; 
  background-color: rgba(0, 0, 255, 0.86); 
  border: 1px outset rgba(0, 0, 255, 0.289); 
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transform: translateY(50%); 
  backdrop-filter: blur(10px);
}


.left {
  left: 310px; 
  transform-origin: left center; 
  transform: translateY(50%); 
  border-radius: 20px 10px;
}


.right {
  right: 310px; 
  transform-origin: right center; 
  transform: translateY(50%); 
  border-radius: 10px 20px;
}

.carouselButton:hover {
  background-color: rgba(0, 0, 255, 0.3);
  border: 1px outset rgba(0, 0, 255, 0.6);
  transform: translateY(50%) scale(1.1); 
}
