.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.titleBlock {
    display: flex;
    flex-direction: column; 
    margin: 0; 
    font-size: 1.5rem;
    font-weight: 600;
}


.navLinks {
    list-style: none;
    display: flex;
}

.navLinks li {
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid rgba(0, 0, 255, 0.3);
    border-radius: 10px;
    padding: 6px 14px;
    margin: 1rem 2rem 1rem;
    font-size: 1rem;
    transition: background-color 1s ease, transform 0.2s ease;
}

.navLinks li:hover {
    background-color: rgba(0, 0, 255, 0.45);
    transform: translateY(-1px) scale(1.05);
}

.navLinks a {
    color: azure;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
}