.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 3, 19);
    border: 1px solid rgba(0, 0, 255, 0.101);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
    padding: 20px;
}

.btn {
    background-color: rgba(0, 0, 255, 0.1);
    border: 1px solid rgba(0, 0, 255, 0.2);
    padding: 0.75rem;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 255, 0.15);
    border: 1px solid rgba(0, 0, 255, 0.3);
    transform-origin: center top;
    transform: translateY(5%);
}


.languageTag {
    color: #f0f0f0eb;
    font-size: 0.675rem;
    padding: 4px;
    border-radius: 10px 0 10px 0;
    border: 1px solid rgba(0, 0, 255, 0.15);
    box-shadow: 0 1px 2px rgba(0, 55, 255, 0.492);
    min-width: 3rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.languageTag:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 8px var(--hover-color);
    transform: translateY(-3px) scale(1.15);
}

.languageBox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.buttonTagsContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: auto;
}

h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

p {
    font-size: 0.875rem;
    color: #bbb;
}

.noTags {
    color: #ccc;
    font-style: italic;
}

.desc {
    font-size: 12px;
    margin: 20px 0 20px 0;
}