h1 {
  font-weight: 600;
  font-size: 2rem;
}

h4 {
  font-weight: 300;
  font-size: 1rem;
  opacity: 0.85;
  font-style: italic;
}

.name {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.description {
  font-size: 1.2rem;
  line-height: 1.5em;
  margin: 0 2rem 2rem 0;
  max-width: 600px;
}